#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.icon {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.icon:hover {
  cursor: pointer;
  opacity: 70%;
}

.icon:active {
  transform: scale(95%);
}